<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>

<article id="landing">

  <header>
    <div class="logo_and_nav">
      <div id="logo_container">
        <%=image_tag "biovision_logo.png" %>
      </div>

      <nav>
        <div class="buttons_container">
          <a class="write_to_us button">Написал нам</a>
          <a class="call_us button">Позвонить</a>
        </div>

        <ul class="menu">
          <li><a href="#">Сделать сайт</a></li>
          <li><a href="#">Сайт срочно</a></li>
          <li><a href="#">Поддержка сайта</a></li>
          <li><a href="#">Сделать лендинг</a></li>
          <li><a href="#">Сделать презентацию</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="prices_block">
    <header>
      <h2>Наши <span class="bolder">цены</span></h2>
      <div class="header_underline"></div>
    </header>

    <div class="icons_container">
      <div>
        <%= image_tag "price_icon_1.png", width: "137", height: "137" %>
        <div class="service_name">Лендинг</div>
        <div class="service_price">40 000 - 80 000 р</div>
      </div>
      <div>
        <%= image_tag "price_icon_2.png", width: "146", height: "144" %>
        <div class="service_name">Портал или магазин</div>
        <div class="service_price">160 000 - 500 000 р</div>
      </div>
      <div>
        <%= image_tag "price_icon_3.png", width: "148", height: "145" %>
        <div class="service_name">Сложная разработка</div>
        <div class="service_price">Оцениваем по ТЗ</div>
      </div>
    </div>
  </div>

  <div class="presentations_block">
    <header>
      <h2>Наши <span class="bolder">презентации</span></h2>
      <div class="header_underline"></div>
    </header>

    <div class="image_collage">
      <%= image_tag "presentation_collage.png" %>
    </div>

    <div class="buttons_container">
      <a class="write_to_us button">Написал нам</a>
      <a class="call_us button">Позвонить</a>
    </div>
  </div>

  <footer>
    <div class="map_shader">
      <header>
        <h2>Наши <span class="bolder">контакты</span></h2>
        <div class="header_underline"></div>
      </header>

      <div class="footer_middle">
        <div style="background-image: url('<%= image_path('phone_icon.png') %>'); background-repeat: no-repeat; height: 3.9rem;">
          <div class="text">+7 925 514 66 13</div>
        </div>
        <div style="background-image: url('<%= image_path('location_icon.png') %>'); background-repeat: no-repeat; height: 3.2rem;">
          <div class="text">г. Москва, проспект Ленина, 25 офис 5</div>
        </div>
        <div style="background-image: url('<%= image_path('email_icon.png') %>'); background-repeat: no-repeat; height: 2.2rem;">
          <div class="text">info@biovision.ru</div>
        </div>
      </div>

      <div class="copyright">
        &copy; 2011-2017 BioVision. Все права защищены.
      </div>
    </div>
    <div class="map_layer">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae6a8d7ee0c2f03fd9666424c97f1188706256753716acde150fb67c09ab02ee0&amp;width=100%25&amp;height=670&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </footer>
</article>