<% content_for :meta_title, @entity.name %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.projects.nav_item.text'), admin_projects_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_projects_path) %></li>
    <li><%= edit_icon(edit_project_path(@entity.id)) %></li>
  </ul>

  <% unless @entity.image.blank? %>
    <figure role="group">
      <%= link_to(project_image_small(@entity), @entity.image.url) %>
      <figcaption>
        <%= t('activerecord.attributes.project.image') %>:
        <%= @entity.image_alt_text %>
      </figcaption>
    </figure>
  <% end %>

  <dl>
    <dt><%= t('activerecord.attributes.project.name') %></dt>
    <dd><%= @entity.name %></dd>

    <dt><%= t('activerecord.attributes.project.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <% unless @entity.url.blank? %>
      <dt><%= t('activerecord.attributes.project.url') %></dt>
      <dd><%= link_to(@entity.url, @entity.url) %></dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>

    <dt><%= t('activerecord.attributes.project.uuid') %></dt>
    <dd><%= @entity.uuid %></dd>

    <dt><%= t('activerecord.attributes.project.lead') %></dt>
    <dd><%= @entity.lead %></dd>

    <dt><%= t('activerecord.attributes.project.description') %></dt>
    <dd><%= raw(@entity.description) %></dd>
  </dl>
</article>
