<% content_for :meta_title, @entity.name %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('projects.index.nav_text'), projects_path) %>
  <%= @entity.name %>
<% end %>

<article class="project">
  <h1><%= @entity.name %></h1>

  <figure>
    <%= project_image_medium(@entity) %>
    <figcaption><%= @entity.lead %></figcaption>
  </figure>

  <div>
    <%= raw(@entity.description) %>
  </div>

  <% unless @entity.url.blank? %>
    <footer>
      <%= link_to(t('activerecord.attributes.project.url'), @entity.url, rel: 'external noopener noreferrer') %>
    </footer>
  <% end %>
</article>
