<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= yield :meta_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div class="navbar-wrapper" id="top">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BIOVISION</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#portfolio">Портфолио</a></li>
            <li><a href="#contacts">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <!--
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    -->
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('top_bg.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-size: 60px; ">BIOVISION</h1>
          <p>Комплексные IT-решения для Вашего бизнеса</p>
          <p><br /><br /></p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  -->
</div><!-- /.carousel -->

<div class="container marketing" id="about">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag('artem_km.jpg', class: "img-circle", width: "140", height: "140") %>
      <h2>Хан-Магомедов Артём</h2>
      <p>CEO студии BIOVISION</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag('maxim_km.jpg', class: "img-circle", width: "140", height: "140") %>
      <h2>Хан-Магомедов Максим</h2>
      <p>Руководитель отдела разработки</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag('m_rusinova.jpg', class: "img-circle", width: "140", height: "140") %>
      <h2>Русинова Марина</h2>
      <p>Руководитель отдела маркетинга и пиара</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->

    <a id="portfolio"></a>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->


  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="margin-top: 0; ">
        FIT-Class. <span class="text-muted">Персональные тренировки, питание и мотивация онлайн.</span>
      </h2>
      <p class="lead">
        Проект посвящён персональным фитнес-программам для женщин. Пользователь может зарегистрироваться на портале,
        заполнить специальную анкету и получить программу тренировок и питания, подобранную конкретно для него по его
        параметрам и запросам.
        <br><br>
        Для этого создан особый алгоритм, который позволяет сделать подходящий выбор посредством обработки собранных
        данных.
        <br><br>
        На заключительном этапе куратор курса подтверждает программу для пользователя и, при необходимости, внеся
        дополнения или изменения, подключает программу для клиента. В данном проекте наша команда выполняла всю работу,
        связанную с сайтом и технической частью проекта (включая настройку и подключение оборудования, работу с командой
        SEO).
        <br><br>
        Части, связанные со съемками видео и фото материала, координация работы со спортсменами, набор тестовой группы
        пользователей и работа с ними не входили в обязанности нашей команды.
      </p>
      <p><a class="btn btn-lg btn-primary" href="http://fit-class.ru" role="button" target="_blank" rel="external">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('fit-class.jpg', class:"featurette-image img-responsive center-block", alt:"FIT-Class", style:"border: solid 1px #acacac; ") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading" style="margin-top: 0; ">
        DECO-boutique.
        <span class="text-muted">Бутик элитной мебели и аксессуаров.</span>
      </h2>
      <p class="lead">
        Данный проект был создан нашей командой &laquo;под ключ&raquo;, начиная от разработки концепции и дизайна сайта
        до программирования всех его модулей. Магазин имеет в своём движке много нестандартных элементов для работы
        с товарами, заказами и клиентами.
        <br><br>
        Движок сайта позволяет максимально эффективно работать с целевой аудиторией. Помимо технической работы
        над порталом также была разработана и реализуется технология привлечения целевых клиентов.
      </p>
      <p><a class="btn btn-lg btn-primary" href="http://deco-boutique.ru" role="button" target="_blank" rel="external">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag('deco-boutique.jpg', class:"featurette-image img-responsive center-block", alt:"DECO-boutique", style:"border: solid 1px #acacac; ") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="margin-top: 0; ">
        EDEM-world.
        <span class="text-muted">Совместное решение различных задач.</span>
      </h2>
      <p class="lead">
        Проект находится в стадии активной разработки.
        <br><br>
        Портал является инструментом, позволяющим людям объединяться для совместного решения различных задач.
        <br><br>
        Нашей командой выполнена разработка портала на всех этапах: от разработки технического задания,
        до программирования и вёрстки. Дизайн был предоставлен клиентом и заказывался отдельно для создания MVP.
        <br><br>
        Первый этап работ завершён - разработан основной функционал портала. Готовится новый дизайн, разрабатываются
        дополнительные модули.
      </p>

      <p><a class="btn btn-lg btn-primary" href="http://edem.world" role="button" target="_blank" rel="external">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('edem-world.jpg', class:"featurette-image img-responsive center-block", alt:"EDEM-world", style:"border: solid 1px #acacac; ") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading" style="margin-top: 0; ">
        PSYCHOLOGIES. <span class="text-muted">Сайт одноименного журнала.</span>
      </h2>
      <p class="lead">
        Разработка с нуля сайт Psychologies.ru (для одноименного журнала). Сайт входит в крупнейшую сеть женских сайтов рунета Womans Network, которая насчитывает более 14,5 млн посетителей в месяц.
      </p>
      <p><a class="btn btn-lg btn-primary" href="http://www.psychologies.ru" role="button" target="_blank" rel="external">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag('psychologies.jpg', class:"featurette-image img-responsive center-block", alt:"FIT-Class", style:"border: solid 1px #acacac; ") %>
    </div>
  </div>


  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="margin-top: 0; ">
        Woman`s Day. <span class="text-muted">Сайт проекта.</span>
      </h2>
      <p class="lead">
        Разработка проекта под ключ. Так выглядела главная страница Wday в 2010 году, после очередного перезапуска.
        <br><br>
        Помимо технической разработки также были проведены такие работы как:

        <br>• Операционное управление проектами; разработка и реализация маркетинговой,
        коммерческой, ИТ и редакционной стратегий;
        <br>• Управление маркетингом: генерация трафика (SEO, SEM), разработка и ведение pr-
        кампаний проектов через оффлайн медиаканалы;
        <br>• Разработка и запуск новых пользовательских сервисов; 14-рекламных спецпроектов под
        рекламодателя (Avon, La Redoute, Loccitane, LG, Tefal и другие);
        <br>• Ведение и развитие партнерских программ: переговоры, заключение договоров,
        интеграция партнерских сервисов (партнеры: Яндекс, Mamba, Astrostar, Alawar, Tvigle).

      </p>
      <p><a class="btn btn-lg btn-primary" href="http://www.wday.ru" role="button" target="_blank" rel="external">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('woman_day.jpg', class:"featurette-image img-responsive center-block", alt:"FIT-Class", style:"border: solid 1px #acacac; ") %>
    </div>
  </div>

  <hr class="featurette-divider">



  <!-- /END THE FEATURETTES -->

  <!-- КОНТАКТЫ -->
  <div class="jumbotron">
    <a id="contacts"></a>

    <h2>Контакты</h2>
    <p>Вы можете связаться с нами, позвонив по телефону: <nobr><b>+7 (495) 514-66-13</b></nobr></p>
  </div>

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#top">Наверх</a></p>
    <p>&copy; 2016 Студия BIOVISION</p>
  </footer>

</div><!-- /.container -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter28193748 = new Ya.Metrika({
          id:28193748,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/28193748" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
